 <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <br><br>
        
        <div class="row center">
          <h1 class="white-text">La tua farmacia a portata di un click</h1>
         <br><br>
       
         <h5 class="white-text">Prenota il tuo prodotto comodamente da casa tua</h5>
          </div>
        <br><br>
        <div class="row center">
          <%= link_to "Vai ai contenuti", contents_path, class: "btn blue btn-large" %>
        </div>
        <br>
        

     
    </div>
    <div class="parallax"><%= image_tag("background1.jpg") %></div>
  </div>