

    <div class="center">
          <div class="row">

            <div class="col s12 m4">
              <br><br>
               <i class="material-icons medium blue-text">local_pharmacy</i>
                <h5 class="blue-text">Cerca la farmacia più vicina</h5>
                <br>
                <p class="blue-text">Trova la farmacia di fiducia e acquista comodamente da casa tua i prodotti di cui hai bisogno.</p>
              </div>
            <div class="col s12 m4">
              <br><br>
              <i class="material-icons medium blue-text">alarm</i>
                <h5 class="blue-text">Risparmia tempo prezioso</h5>
                <br>
                <p class="blue-text">Evita inutili code in farmacia prenotando online le tue medicine.</p>
            </div>
          <div class="col s12 m4">
            <br><br>
              <i class="material-icons medium blue-text">local_shipping</i>
              <h5 class="blue-text">Consegna a domicilio</h5>
              <br><br>
              <p class="blue-text">Non dovrai più recarti in farmacia, è previsto infatti il servizio di consegna a domicilio 24 ore su 24.</p>
      </div>
    </div>
  </div>
